
body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

h1, h2, h3, h4, h5 {
  text-align: center;
  font-family: "Helvetica Neue", "Arial", sans-serif;
  font-weight: 350;
  /* font-variant-ligatures: normal; */
}

.equal-box{
  height: 100px;
  width: 100px;
}

.star{
  background-color: transparent;
  border:none;
}

.stars-container{
  display: flex;
  justify-content: center;
  margin: 2rem;
}
.gold{
  color: gold
}

.box-container{
  display: flex;
  justify-content: center;
}

.box-container > .design-box:nth-child(1){
  height: 100px;
  width: 210px;
}
.box-container > .design-box:nth-child(2){
  height: 100px;
  width: 60px;
}
.box-container > .design-box:nth-child(3){
  height: 100px;
  width: 30px;
}

.display-options-container{
  display: flex;
  justify-content: center;
}

.copy-button, .lock-button{
  /* display: none; */
  visibility: hidden;
  background: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
  opacity: .6;
  border-radius: 10px;
}

.box:hover > *{
  /* display:block; */
  visibility: visible;
}

.box{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.box:hover{
  background-color: red;
}


.sample-page-container{
  box-shadow: 5px 5px 10px;
  display: flex;
  flex-direction: column;
  border: solid 3px black;
  border-radius: 20px;
  padding: 2em;
  width: 50%;
  pointer-events: none;
}


.sample-page-container > h3 {
  margin-top: 1em;
  margin-bottom: 25px;
}
.sample-page-container > input,
.sample-page-container > button {
  padding: 10px;
  font-size: 20px;
  margin-bottom: 15px;
}

.home-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sample-page-header{
  margin-bottom: 1em;
  margin-top: 3em;
}

.reset-button{
  background-color: transparent;
  color: red;
  border: red solid 1px;
  border-radius: 7px;
  padding: 5px;
  cursor: pointer;
}

.color-container{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.color-container > button{
  filter: hue-rotate(100deg) saturate(0);
  background-color: transparent;
  border: none;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
  margin-top: 10px
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}